/*<NULLSTYLE>==================================================================*/
** {padding: 0;margin: 0;border: 0;}
h1,h2,h3,h4,h5,h6 {font-size:inherit;font-weight: inherit;}
html,body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position:relative;
}
body {
    line-height: 1px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #ffffff;
    min-width: 320px;
}
a, a:visited, a:hover {
    color: inherit;
    text-decoration: none;
}
ul, li {
    list-style: none;
}
/*<Bootstrap null settings>===================================================*/
@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}
.navbar-toggler {
    border-color: #FFFFFF;
}
.container {
    max-width: 1200px;
}
.container-fluid {
    /*padding: 0;*/
}
.row, ul, li, p, h1, h2, h3, h4, h5,
.navbar,.navbar-expand-lg, .navbar-nav, .nav-link, .navbar-expand-lg, .navbar-nav, .nav-link, .navbar-brand,
.carousel-caption,
.col, .col-md-3, .col-md-6, .col-md-5,.col-lg-4,.col-sm-6, .col-xl-auto, .col-6, .col-lg-5, .col-lg-7, .col-lg-6, .col-md-4 {
    margin: 0;
    padding: 0;
}
@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 0;
    }
}
.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
/*<HEADER>==================================================================*/
.header {
    margin-bottom: 97px;
}
.header__top {
    height: 80px;
    background-color: #000000;
}
.header__menu {
    padding-top: 12px;
}
.menu {
    display: flex;
    justify-content: space-between;
    line-height: normal;
}
.menu__logo-bottom {
    font-size: calc(10px + (14 - 10)*((100vw - 320px)/(1920 - 320)));
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1.23px;
    margin-top: -6px;
    padding-left: 1px;
}
.menu__burger {
}
.menu__wrapper {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
}
.menu__list {
    margin: 0 -23px;
}
.menu__item {
    color: #e5e5e5;
    font-family: 'Advent Pro', sans-serif;
    font-weight: 700;
    text-align: right;
    text-transform: uppercase;
    margin: 0 23px;
    font-size: calc(19px + (24 - 19)*((100vw - 320px)/(1920 - 320)));
}
.menu__link {
    position: relative;
    transition: all 0.5s ease 0s;
}
.menu__link:hover {
    color: #008287;
}
.menu__link::after {
    content: '';
    position: absolute;
    right: 50%;
    width: 0;
    height: 2px;
    background-color: #008287;
    bottom: -3px;
    transition: all 0.8s ease 0s;
 }
.menu__link:hover::after {
    right: 0;
    width: 100%;
}
/*<HEADER-bottom>===============*/
.header__bottom {
    position: relative;
}
.header__bottom::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 6px;
    top:0;
    left:0;
    background-color: #00aba9;
    z-index: 2;
}
.header-slider__body {
    bottom: 0;
    top: 43.5%;
}
.header-slider__body::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 6px;
    bottom: -6px;
    left:0;
    background-color: #00aba9;
    z-index: 2;
}
.header-slider__overlay {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: auto;
}
.header-slider__title {
    color: #00aba9;
    font-family: 'Advent Pro', sans-serif;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    font-size: calc(20px + (72 - 20)*((100vw - 320px)/(1920 - 320)));
}
.header-slider__title-green {
    color: #ffffff;
    font-weight: 700;
    background: linear-gradient(to top, transparent 4%, #008287 4% 96%, transparent 96%);
    padding-left: calc(2px + (19 - 2)*((100vw - 320px)/(1920 - 320)));
    padding-right: calc(2px + (19 - 2)*((100vw - 320px)/(1920 - 320)));
}
/*<HEADER-slider>============*/
.header-slider__navigation {
    opacity: 1;
    justify-content: flex-start;
    padding-left: 10px;
    top: 1%;
}
.header-slider__navigation:last-child {
    justify-content: flex-end;
    padding-right: 10px;
}
.navigation-item__background {
    display: block;
    height: calc(20px + (40 - 20)*((100vw - 320px)/(1920 - 320)));
    width: calc(20px + (41 - 20)*((100vw - 320px)/(1920 - 320)));
    background-color: #00aba9;
    padding: calc(2px + (11 - 2)*((100vw - 320px)/(1920 - 320)));
    transition: all 0.5s ease 0s;
}
.navigation-item__background:hover {
    background-color: #008287;
}
.navigation-item__ico {
    vertical-align: middle;
    height: 100%;
}
/*<COMMON>=====================================================================*/
.menu__logo {
    font-family: 'Advent Pro', sans-serif;
    font-size: calc(24px + (34 - 24)*((100vw - 320px)/(1920 - 320)));
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1.84px;
}
.menu__logo-green{
    color: #008287;
}
.menu__logo-small {
    font-size: calc(14px + (24 - 14)*((100vw - 320px)/(1920 - 320)));
    letter-spacing: 1.3px;
    /*margin-right: 10px;*/
    line-height: 18px;
}
/*<COMMON-titles>==============*/
.title {
    font-family: 'Advent Pro', sans-serif;
    font-size: calc(19px + (38 - 19)*((100vw - 320px)/(1920 - 320)));
    color: #010101;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
.title-green {
    font-weight: 500;
    color: #008287;
}
.title-black {
    color: #000000;
}
.title-white {
    color: #ffffff;
    font-weight: 500;
}
.subtitle {
    color: #000000;
    font-family: 'Advent Pro', sans-serif;
    font-size: calc(17px + (30 - 17)*((100vw - 320px)/(1920 - 320)));
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 0;
}
.subtitle-news {
    font-family: 'Advent Pro', sans-serif;
    font-size: calc(16px + (18 - 16)*((100vw - 320px)/(1920 - 320)));
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 0;
    transition: color 0.5s ease 0s;
}
.subtitle-news:hover {
    color: #a7d2cb;
}
.subtitle-date {
    font-family: 'Advent Pro', sans-serif;
    font-size: calc(14px + (16 - 14)*((100vw - 320px)/(1920 - 320)));
    font-weight: 700;
    text-align: right;
    text-transform: uppercase;
    margin-bottom: 0;
}
/*<COMMON-text>================*/
.text {
    color: #555555;
    font-size: calc(14px + (20 - 14)*((100vw - 320px)/(1920 - 320)));
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    padding: 0 10px;
    transition: color 0.5s ease 0s;
}
.text-white {
    color: #ffffff;
}
.block-text {
    color: #ffffff;
    font-size: calc(13px + (16 - 13)*((100vw - 320px)/(1920 - 320)));
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    transition: color 0.5s ease 0s;
}
.about__title-info .text:hover{
    color: #c0bfbf;
}
.block-text:hover {
    color: #a7d2cb;
}
/*<COMMON-decoration-items>========*/
.decoration {
    width: 100%;
    size: 1px;
}
.decoration-gray {
    color: #e9e9e9;
}
.decoration-white {
    background-color: #ffffff;
}
/*<COMMON-background-items>=========*/
.date-background {
    background-color: rgba(0, 130, 135, 0.7);
    padding: 4px 15px 2px;
    min-width: 111px;
    align-self: flex-end;
}
.date-background-black {
    background-color: rgba(0, 0, 0, 0.7);
}
.subtitle--background {
    background-color: rgba(0, 130, 135, 0.7);
    width: 100%;
    padding: 6px 15px 17px;
}
.subtitle-background--black {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    padding: 6px 15px 7px;
}
/*<ABOUT_BLOCK>==================================================================*/
.about {
    margin-bottom: 100px;
}
.about__text {
    padding-top: 3px;
}
.about__link{
    display: block;
    height: 110px;
    overflow: hidden;
}
/*@media (max-width: 767px) {
    .about__link {
        overflow: visible;
        height: auto;
    }
}*/
/*<SERVICES_BLOCK>>=============================================================*/
.services {
    margin-bottom: 91px;
}
.services__wrapper {
    background-color: #008287;
    width: 100%;
    height: 100%;
    padding: 92px 0 63px;
}
.services__title-info {
   margin-bottom: 40px;
}
.services__text{
    padding-top: 6px;
}
.services__item {
    margin-bottom: 42px;
    margin-right: 10px;
}
.services__item:last-child {
    margin-bottom: 0;
}
@media (max-width: 1200px) {
    .services__item {
        margin-right: 5px;
    }
}
.service-card__image {
    margin-right: 18px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 8px 0 0 1px;
    max-width: calc(50px + (81 - 50)*((100vw - 320px)/(1920 - 320)));
}
.service-card__body {
    display: block;
    height: calc(80px + (92 - 80)*((100vw - 320px)/(1920 - 320)));
    overflow: hidden;
    max-width: calc(380px + (270 - 380)*((100vw - 320px)/(1920 - 320)));
}
/*@media (max-width: 1200px) {
    .service-card__body {
        max-width: none;
        overflow: visible;
        height: auto;
    }
}*/
/*<NEWS_BLOCK>==============================================================*/
.news {
    margin-bottom: 82px;
}
.news__title-info {
    margin-bottom: 48px;
}
.news__text {
    padding-top: 3px;
}
.news__body {
   margin: 0 -9px;
}
.news__column {
    min-height: calc(250px + (385 - 250)*((100vw - 320px)/(1920 - 320)));
    padding: 0 9px;
    margin-bottom: 18px;
}
/*<NEWS_BLOCK-main-column>==========*/
.news__main {
    height: 100%;
}
.news-main__image {
    background-image: url("../img/block4-news/news_main.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.news-main__wrapper, .news-old__wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}
.news-main__wrapper {
    padding-bottom: 15px;
}
.news-main__text {
    height: 40px;
    overflow: hidden;
    max-width: 535px;
}
/*<NEWS_BLOCK-old-column>===========*/
.news__old {
    height: 100%;
    margin: -9px;
}
.news-old__item {
    padding: 9px;
}
.news-old__image {
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 183px;
}
.news-old__image-1 {
    background-image: url("../img/block4-news/news-1.jpg");
}
.news-old__image-2 {
    background-image: url("../img/block4-news/news-2.jpg");
}
.news-old__image-3 {
    background-image: url("../img/block4-news/news-3.jpg");
}
.news-old__image-4 {
    background-image: url("../img/block4-news/news-4.jpg");
}
.news-old__wrapper {
    padding-bottom: 10px;
}
.news-old__link{
    display: block;
    width: 100%;
}
/*<CONTACTS_BLOCK>========================================================*/
.contacts {
    position: relative;
}
.contacts__background {
    background-image: url("../img/block5-contacts/contacts-bg-image.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding: 90px 0 100px;
}
.contacts__text{
    padding-top: 6px;
}
.contacts__title-info {
    margin-bottom: calc(20px + (43 - 20)*((100vw - 320px)/(1920 - 320)));
}
.contacts__row {
    margin: 0 -9px;
}
.contacts__column {
    padding: 0 9px;
}
.contacts__column-small{
}
.contacts__map {
    margin-top: 5px;
}
/*.map-container-6{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-container-6 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}*/
.map-container-7{
    overflow:hidden;
    margin-top: 5px;
  /*  padding-bottom:56.25%;*/
    position:relative;
    height: 208px;
}
.map-container-7 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.contacts__title-small {
    font-size: calc(16px + (24 - 16)*((100vw - 320px)/(1920 - 320)));
    font-weight: 400;
    text-align: left;
}
.contacts__decoration-small{
    margin-top: 10px;
}
.address__item {
    font-size: calc(13px + (18 - 13)*((100vw - 320px)/(1920 - 320)));
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.contact-information__item {
    font-size: calc(13px + (16 - 13)*((100vw - 320px)/(1920 - 320)));
    font-weight: 400;
    line-height: 24px;
    text-align: right;
    transition: color 0.5s ease 0s;
}
.contact-information__item:last-child {
    text-decoration: underline;
}
.contact-information__item:hover {
    color: #a7d2cb;
}

.contacts__to-top-link {
    position: absolute;
    bottom: 0;
    right: 0;
}
.contacts__to-top-background{
}
.contacts__to-top-link .carousel-control-next-icon {
    transform: rotate(-90deg);
}
/*<FOOTER>========================================================*/
.footer {
}
.footer__background {
    height: calc(160px + (131 - 160)*((100vw - 320px)/(1920 - 320)));
    background-color: #000000;
    position: relative;
}
.footer__background::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 6px;
    top:0;
    left: 0;
    background-color: #00aba9;
    z-index: 2;
}
.footer__content {

}
.footer__row {
}
.footer__column {
}
.footer__logo {
}
.footer__icons {
    height: 20px;
}
.footer__icon {
    padding: 0 2px;
}
.footer__text {
    font-size: calc(12px + (14 - 12)*((100vw - 320px)/(1920 - 320)));
    font-weight: 400;
    line-height: 18px;
    text-align: right;
}
.footer__link {
    text-align: left;
    display: block;
   /* margin-right: 16px;*/
}
.footer__link-decoration {
    padding: 0 9px;
}
.footer__text-green {
    color: #008287;
    font-weight: 600;
}
/*<MEDIA>=====================================================================*/
@media (max-width: 1200px) {
    .header, .about, .services {
        margin-bottom: calc(40px + (90 - 40)*((100vw - 320px)/(1920 - 320)));
    }
    .news {
        margin-bottom: calc(32px + (82 - 32)*((100vw - 320px)/(1920 - 320)));
    }
    .services__wrapper, .contacts__background {
        padding: 30px 0 30px;
    }
    .news__title-info {
        margin-bottom: 40px;
    }
    .footer__icon {
        padding: 0 10px;
    }
}
/*============================================================================*/